.featured 
{
    padding: 0.75em 1.5em 0.75em 1.5em;
    line-height: 0.2em;
    background-color: rgb(76, 131, 174);
}

.featuredServers
{
    padding-bottom: 1em;
}

.message
{
    font-weight: bold;
}

.error
{
    font-weight: bold;
    color: red;
}