!IoTGatewaySetup.exe
!IoTClientSetup.exe

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msm
*.msp

# Compiler output
bin/
obj/
AppPackages/
packages/
BundleArtifacts/
TestResults/

# User files
*.suo
*.csproj.user
*.pubxml.user

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Visual Studio 2015 cache/options directory
.vs/

# Backup files
*.bak
