<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<UI>
			<Dialog Id="NameAccountDlg" Width="370" Height="270" Title="!(loc.NameAccountDlg_Title)" NoMinimize="yes">
				<Control Id="OrderLabel" Type="Text" X="15" Y="73" Width="17" Height="15" TabSkip="no" Text="2.2" />
				<Control Id="IntroductionLabel" Type="Text" X="38" Y="73" Width="310" Height="23" TabSkip="no" Text="Account has been successfully created. The name of the account is [XMPPACCOUNTNAME]@[XMPPBROKER]." />
				<Control Id="Introduction2Label" Type="Text" X="38" Y="101" Width="310" Height="32" TabSkip="no" Text="Do you want to provide a human readable name for the account as well? This name will be visible to everybody with access to the broker. If not, leave the field blank and continue." />
				<Control Id="ReadableNameLabel" Type="Text" X="38" Y="146" Width="107" Height="10" TabSkip="no" Text="Human Readable Name:" />
				<Control Id="ReadableName" Type="Edit" Property="READABLENAME" Default="yes" Text="[READABLENAME]" Width="169" Height="15" X="38" Y="158" />
			
				<Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&amp;Back">
					<Publish Event="NewDialog" Value="ServiceProviderAccountDlg">1</Publish>
				</Control>
				<Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="&amp;Next">
					<Publish Event="DoAction" Value="NameAccount">READABLENAME &lt;&gt; ""</Publish>
					<Publish Event="NewDialog" Value="SetupTypeDlg">XmppAccountOk = "1"</Publish>
					<Publish Event="SpawnDialog" Value="AccountNameFailureDlg">XmppAccountOk = "0"</Publish>
				</Control>
				<Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
					<Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
				</Control>
				
				<Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
				<Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
					<Text>Do you want to name the account?</Text>
				</Control>
				<Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
				<Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
					<Text>{\WixUI_Font_Title}Name account</Text>
				</Control>
				<Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
			</Dialog>
		</UI>
		<CustomAction Id="NameAccount" BinaryKey="Waher.IoTGateway.Installers.CA.dll" DllEntry="NameAccount" Return="check" Execute="immediate" />
	</Fragment>
</Wix>