<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<UI>
			<Dialog Id="TrustServerDlg" Width="370" Height="270" Title="!(loc.TrustServerDlg_Title)" NoMinimize="yes">
				<Control Id="OrderLabel" Type="Text" X="15" Y="73" Width="23" Height="15" TabSkip="no" Text="2.1.1" />
				<Control Id="IntroductionLabel" Type="Text" X="38" Y="73" Width="310" Height="47" TabSkip="no" Text="Unable to validate the identity of the broker using the certificate it provided. To use this broker anyway, you need to explicitly trust the broker. This is done by checking the checkbox below, and pressing the Next button. You can also go back and choose another service provider." />
				<Control Id="TrustServer" Type="CheckBox" Disabled="no" Property="XMPPTRUSTSERVER" Default="yes" Text="Trust broker certificate." Width="169" Height="15" X="38" Y="128" Integer="yes" />

				<Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&amp;Back">
					<Publish Event="NewDialog" Value="ServiceProviderAccountDlg">1</Publish>
				</Control>
				<Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="&amp;Next">
					<Publish Event="NewDialog" Value="SetupTypeDlg">(XMPPTRUSTSERVER = 1) AND (XmppAccountOk = "1")</Publish>
					<Publish Event="NewDialog" Value="CreateAccountDlg">(XMPPTRUSTSERVER = 1) AND (XmppAccountOk = "-1")</Publish>
				</Control>
				<Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
					<Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
				</Control>

				<Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
				<Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
					<Text>Do you want to trust the broker certificate?</Text>
				</Control>
				<Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
				<Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
					<Text>{\WixUI_Font_Title}Trust certificate</Text>
				</Control>
				<Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
			</Dialog>
		</UI>
	</Fragment>
</Wix>