<?xml version="1.0" encoding="utf-8" ?>
<CertificateConfiguration xmlns="http://waher.se/Schema/CertificateConfiguration.xsd">
  <!-- The configuration file in the program data folder, will have precedence over the configuration file in the installation folder. 
       When upgrading, the configuration file in the installation folder will be updated, but the configuration file in the program data
       folder will be maintained. If you make changes to the configuration file, make a copy and place it in the program data folder, and
       edit it there. This will make sure you don't lose any changes when you update the software. -->

  <FileName>certificate.pfx</FileName>
  <Password>testexamplecom</Password>
</CertificateConfiguration>