<?xml version="1.0" encoding="utf-8" ?>
<GatewayConfiguration xmlns="http://waher.se/Schema/GatewayConfiguration.xsd">
  <!-- The configuration file in the program data folder, will have precedence over the configuration file in the installation folder. 
       When upgrading, the configuration file in the installation folder will be updated, but the configuration file in the program data
       folder will be maintained. If you make changes to the configuration file, make a copy and place it in the program data folder, and
       edit it there. This will make sure you don't lose any changes when you update the software. -->

	<ApplicationName>IoT Gateway</ApplicationName>
  
  <DefaultPage>/Index.md</DefaultPage>
  
  <Database folder="Data" defaultCollectionName="Default" blockSize="8192" blocksInCache="10000" blobBlockSize="8192" timeoutMs="10000" encrypted="true"/>

  <Ports>
    <Port protocol="HTTP">80</Port>
    <Port protocol="HTTP">8080</Port>
    <Port protocol="HTTP">8081</Port>
    <Port protocol="HTTP">8082</Port>
    <Port protocol="HTTPS">443</Port>
    <Port protocol="HTTPS">8088</Port>
    <Port protocol="XMPP.C2S">5222</Port>
    <Port protocol="XMPP.S2S">5269</Port>
    <Port protocol="SOCKS5">1080</Port>
  </Ports>

  <FileFolders>
    <!--
    Add a sequence of FileFolder elements. Each FileFolder element creates a web folder defined by the webFolder attribute. These folder resources are absolute
    resources. Each web folder will be mapped to a corresponding folder on the local machine or in the network, defined by the folderPath attribute. 
    
    Example:
    
    <FileFolder webFolder="/Folder" folderPath="\\Server\Path"/>
    -->
  </FileFolders>

  <!--
  Include the following element, if you want ALL internal exceptions raised during the execution of the program output to log files. This might come in handy
  if you need to troubleshoot unexpected errors in production.
  
  <ExportExceptions folder="Exceptions"/>
  -->
</GatewayConfiguration>