<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.DependencyValidation.Analyzers" version="0.11.0" targetFramework="net462" />
  <package id="MSTest.TestAdapter" version="2.1.2" targetFramework="net462" />
  <package id="MSTest.TestFramework" version="2.1.2" targetFramework="net462" />
  <package id="System.Console" version="4.3.1" targetFramework="net462" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
</packages>