<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MSTest.TestAdapter" version="1.1.18" targetFramework="net462" />
  <package id="MSTest.TestFramework" version="1.1.18" targetFramework="net462" />
  <package id="System.Console" version="4.0.0" targetFramework="net462" />
  <package id="System.Net.Security" version="4.0.0" targetFramework="net462" />
  <package id="System.Net.Sockets" version="4.1.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net462" />
</packages>