<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
		 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
		 xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
		 xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension">
	<Bundle Name="IoT Gateway Setup" Version="1.0" Manufacturer="Waher Data AB" 
					UpgradeCode="B45ADC84-8E76-4358-B765-A3C3BBEDEBEC">
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
			<bal:WixStandardBootstrapperApplication LicenseFile="License.rtf"
																							SuppressOptionsUI="yes"/>
		</BootstrapperApplicationRef>
		<Chain>
			<PackageGroupRef Id="NetFx462Web"/>
      <MsiPackage SourceFile="..\..\..\Waher.IoTGateway.Win32\bin\$(var.Configuration)\en-us\Waher.IoTGateway.Win32.msi"
									DisplayInternalUI="yes">
        <MsiProperty Name="SERVICEDISPLAYNAME" Value="IoT Gateway Service"/>
        <MsiProperty Name="SERVICEDESCRIPTION" Value="Windows Service hosting the Waher IoT Gateway."/>
        <MsiProperty Name="OPENBROWSER" Value="yes"/>
      </MsiPackage>
		</Chain>
	</Bundle>
</Wix>
