<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MSTest.TestAdapter" version="1.4.0" targetFramework="net462" />
  <package id="MSTest.TestFramework" version="1.4.0" targetFramework="net462" />
  <package id="SkiaSharp" version="1.68.0" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net462" />
</packages>