html
{
}

body
{
    padding: 0;
    margin: 0;
    font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, sans-serif;
    font-size: 100%;
    background: url(/Images/Cactus%20Rose%201600x1600%20Dimmed.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
    height:100%;
    position:relative;
}

main
{
    padding: 0 5% 2.5em 5%;
    display: block;
    width: 90%;
    top:5em;
    position:absolute;
    z-index:2;
}

header
{
    background-image: url(/Images/Banner1%20-%202000x600.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1.5em;
    position: fixed;
    float:top;
    top: 0;
    width: 100%;
    z-index:3;
}

nav
{
    padding:0 3em 0 0;
}

nav > ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,0.5);
}

nav > ul > li
{
    float: left;
    border-left: 1px solid rgba(255,255,255,0.7);
    background-clip: content-box;
}

nav > ul > li:nth-last-of-type(1)
{
    float: right;
}

nav > ul > li:nth-last-of-type(2)
{
    float: right;
}

nav > ul > li:first-child
{
    border-left: 0;
}

nav > ul > li > a
{
    display: block;
    color: white;
    text-align: center;
    padding: 0.9em 1em;
    text-decoration: none;
}

nav > ul > li > a:hover
{
    background-color: rgba(0,0,0,0.5);
}

.active
{
    background-color: #4CAF50;
}

footer
{
    background-image: url(/Images/Banner1%20-%202000x600.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding:0.6em;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align:center;
    z-index:3;
}

footer > span
{
    background-color:rgba(0,0,0,0.5);
    padding: 0.2em 2em 0.2em 2em;
}

footer a
{
    color:#e0e0e0;
}

section
{
    padding: 2em 2em 2em 2em;
    border: 1px solid black;
    box-shadow: 0.3em 0.3em 0.3em #999;
    margin: 3em 0.5em 3em 0;
    background-color:rgba(255,255,255,0.95);
}

section section
{
    padding: 1em 1em 1em 1em;
    border: 1px solid black;
    box-shadow: 0.3em 0.3em 0.3em #999;
    margin: 1em 0 1em 0;
    background-color:rgba(0,0,0,0.05);
}

section[style]
{
    -webkit-column-width: 15em;
    -moz-column-width: 15em;
    column-width: 15em;
    -webkit-column-gap: 3em;
    -moz-column-gap: 3em;
    column-gap: 3em;
    -webkit-column-rule: 1px solid #f0f0f0;
    -moz-column-rule: 1px solid #f0f0f0;
    column-rule: 1px solid #f0f0f0;
    text-align: justify;
    text-justify: auto;
}

p
{
    font-size: 1em;
    margin: 0.5em 0em 0.5em 0em;
}

h1,h2,h3,h4,h5,h6,h7,h8,h9
{
    color:rgb(49,135,185);
    margin: 1em 0 0 0;
}

h1
{
    font-size: 2.5em;
    line-height: 1.25em;
}

section h1:first-child
{
    margin-top:0.75em;
    -webkit-column-span: all;
    column-span: all;
}

h1::before
{
    display: block; 
    content: " ";
    visibility: hidden;
}

h1:not(:first-child)::before
{
    margin-top: -4em;
    height: 4em;
}

h2
{
    font-size: 2.2em;
    line-height: 1.1em;
}

section h2:first-child
{
    margin-top:0.75em;
}

h2::before
{
    display: block; 
    content: " ";
    margin-top: -4em;
    height: 4em;
    visibility: hidden;
}

h3
{
    font-size: 2.0em;
    line-height: 1em;
}

section h3:first-child
{
    margin-top:0.75em;
}

h3::before
{
    display: block; 
    content: " ";
    margin-top: -4em;
    height: 4em;
    visibility: hidden;
}

h4
{
    font-size: 1.8em;
    line-height: 0.9em;
}

section h4:first-child
{
    margin-top:0.75em;
}

h4::before
{
    display: block; 
    content: " ";
    margin-top: -4em;
    height: 4em;
    visibility: hidden;
}

h5
{
    font-size: 1.7em;
    line-height: 0.85em;
}

section h5:first-child
{
    margin-top:0.75em;
}

h5::before
{
    display: block; 
    content: " ";
    margin-top: -4em;
    height: 4em;
    visibility: hidden;
}

h6
{
    font-size: 1.6em;
    line-height: 0.8em;
}

section h6:first-child
{
    margin-top:0.75em;
}

h6::before
{
    display: block; 
    content: " ";
    margin-top: -4em;
    height: 4em;
    visibility: hidden;
}

h7
{
    font-size: 1.5em;
    line-height: 0.75em;
}

section h7:first-child
{
    margin-top:0.75em;
}

h7::before
{
    display: block; 
    content: " ";
    margin-top: -4em;
    height: 4em;
    visibility: hidden;
}

h8
{
    font-size: 1.4em;
    line-height: 0.7em;
}

section h8:first-child
{
    margin-top:0.75em;
}

h8::before
{
    display: block; 
    content: " ";
    margin-top: -4em;
    height: 4em;
    visibility: hidden;
}

h9
{
    font-size: 1.3em;
    line-height: 0.65em;
}

section h9:first-child
{
    margin-top:0.75em;
}

h9::before
{
    display: block; 
    content: " ";
    margin-top: -4em;
    height: 4em;
    visibility: hidden;
}

a
{
}

em
{
}

strong
{
}

u
{
}

ins
{
    background-color:Yellow;
}

s
{
}

del
{
    background-color:Yellow;
}

sup
{
}

img
{
}

img.aloneUnsized
{
	max-width:100%;
	image-orientation:from-image;
}

figure img
{
    box-shadow: 0.3em 0.3em 0.3em #999;
}

figure figcaption 
{
    text-shadow: 1px 1px 1px #999;
    padding: 0.7em;
}

video
{
    box-shadow: 0.3em 0.3em 0.3em #999;
	max-width:100%;
}

iframe
{
    box-shadow: 0.3em 0.3em 0.3em #999;
}

code
{
}

pre
{
    background: #eee;
    padding: 0.5em;
    border-radius: 0.3em;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    box-shadow: 0.3em 0.3em 0.3em #999;
    margin-bottom: 1.5em;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: normal;
}

br
{
}

hr
{
}

blockquote
{
    margin-left:2em;
    border-left:0.3em solid rgb(49,135,185);
    border-top:0.1em solid rgb(49,135,185);
    border-right:0.1em solid rgb(49,135,185);
    border-bottom:0.1em solid rgb(49,135,185);
    padding: 1em 1em 1em 2em;
    background-color: rgba(49,135,185,0.075);
    border-radius: 0 1em 1em 0;
    box-shadow: 0.3em 0.3em 0.3em #999;
}

ul
{
}

ol
{
}

li
{
}

li > ul
{
    margin-left:-1em;
}

li > ol
{
    margin-left:-1em;
}

dl
{
}

dt
{
    font-weight: bold;
    color:#4CAF50;
}

dd
{
}

table
{
    margin-bottom: 1.5em;
    border-collapse: collapse;
    box-shadow: 0.3em 0.3em 0.3em #999;
    border-collapse: separate;
    border-width: 0;
    border-spacing:0;
}

table caption
{
    text-shadow: 1px 1px 1px #999;
}

tr:nth-child(odd)
{
    background-color: rgba(0,0,0,0.02);
}

tr:nth-child(even)
{
    background-color: rgba(0,0,0,0.1);
}

table, th, td
{
    border: 0;
}

th
{
    background-color: #4CAF50;
    color: white;
}
 
th, td
{
    padding: 0.2em 0.6em 0.2em 0.6em;
}

.toc
{
    margin:1em 0 1em 0;
    display:inline-block;
    border:0.1em solid rgb(49,135,185);
    padding: 1em 3em 1em 3em;
    background-color: rgba(49,135,185,0.075);
    border-radius: 1em;
    box-shadow: 0.3em 0.3em 0.3em #999;
}

.tocTitle
{
    color:rgb(49,135,185);
    font-size: 2.2em;
    text-align:center;
    font-weight:bold;
}

.tocBody
{
}

div.tocBody ol
{
    counter-reset: toc;
    list-style-type: none;
}

div.tocBody ol > li::before
{
    counter-increment: toc;
    content: counters(toc,".") " ";
}

.footnote-ref
{
    text-decoration: none;
}

.footnote-backref
{
    text-decoration:none;
}

.footnote-backref:before
{
    content: " ";
}

div.footnotes > hr
{
    display:none;
}

.footnotes
{
    margin: 2em -6% 0 -6%;
    padding: 0.5em 0em 0.5em 0em;
    background:#eee;
    background: -webkit-linear-gradient(#555, #eee 10%);
    background: -o-linear-gradient(#555, #eee 10%);
    background: -moz-linear-gradient(#555, #eee 10%);
    background: linear-gradient(#555, #eee 10%);
}

div.footnotes + p
{
    display:none;
}

input
{
	width: 100%;
    padding: 6px 10px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 2px solid #4CAF50;
    border-radius: 4px;
    box-shadow: 0.3em 0.3em 0.3em #999;
}

input:focus
{
    border: 3px solid #4CAF50;
}

select
{
	width: 100%;
    padding: 6px 10px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 2px solid #4CAF50;
    border-radius: 4px;
    box-shadow: 0.3em 0.3em 0.3em #999;
}

select:focus
{
    border: 3px solid #4CAF50;
}

textarea 
{
	width: 100%;
	height:6em;
	overflow:auto;
    padding: 6px 10px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 2px solid #4CAF50;
    border-radius: 4px;
	resize:none;
	-moz-tab-size : 3;
	-o-tab-size : 3;
	tab-size : 3;
    box-shadow: 0.3em 0.3em 0.3em #999;
}

textarea:focus
{
    border: 3px solid #4CAF50;
}

input[type=button], input[type=submit], input[type=reset], button
{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    box-shadow: 0.3em 0.3em 0.3em #999;
    border-radius: 4px;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active, button:active
{
   box-shadow: 0.1em 0.1em 0.1em #999;
}

input[type=button]:hover:not(:active), input[type=submit]:hover:not(:active), input[type=reset]:hover:not(:active), button:hover:not(:active)
{
    box-shadow: 0.5em 0.5em 0.5em #999;
}

input[type="checkbox"]
{
	display:none;
}

input[type="checkbox"] + label
{
	display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 2.5em;
	padding-bottom:0.3em;
    margin-right: 1em;
}

input[type="checkbox"] + label:before
{
	content: "";
    display: inline-block;
 
    width: 1em;
    height: 1em;
 
    margin-right: 1em;
    position: absolute;
    left: 0;
    bottom: 1px;

    border-radius: 0.15em;
    font-size: 1.75em;
    box-sizing: border-box;
    border: 2px solid #4CAF50;
    box-shadow: 0.1em 0.1em 0.1em #999;
}

input[type="checkbox"] + label:before:focus
{
    border: 3px solid #4CAF50;
}

input[type="checkbox"]:checked + label:before
{
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    color: #4CAF50;
    text-align: center;
    line-height: 0.75em;
}

input[type="radio"]
{
	display:none;
}

input[type="radio"] + label
{
	display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 2.5em;
	padding-bottom:0.3em;
    margin-right: 1em;
}

input[type="radio"] + label:before
{
	content: "";
    display: inline-block;
 
    width: 1em;
    height: 1em;
 
    margin-right: 1em;
    position: absolute;
    left: 0;
    bottom: 1px;

    border-radius: 1em;
    font-size: 1.75em;
    box-sizing: border-box;
    border: 2px solid #4CAF50;
    box-shadow: 0.1em 0.1em 0.1em #999;
}

input[type="radio"] + label:before:focus
{
    border: 3px solid #4CAF50;
}

input[type="radio"]:checked + label:before
{
    content: "\2022";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    color: #4CAF50;
    text-align: center;
    line-height: 0.75em;
}

.clickable 
{
	cursor:pointer;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.clickable:hover
{
	cursor:pointer;
    background-color: rgba(0,0,0,0.1);
}

fieldset
{
    margin:2em 1em 2em 1em;
    border:0.1em solid rgb(49,135,185);
    padding: 1em 2em 1em 2em;
    background-color: rgba(49,135,185,0.025);
    border-radius: 1em;
    box-shadow: 0.3em 0.3em 0.3em #999;
	-webkit-column-break-inside: avoid;
	break-inside: avoid;
}

fieldset > legend
{
    color:#fff;
    font-size: 1.25em;
	padding: 0.25em 1em 0.25em 1em;
	border-radius:0.7em;
	background-color:rgb(49,135,185);
}
