<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<UI>
			<Dialog Id="AccountCreationFailureDlg" Width="360" Height="130" Title="!(loc.AccountCreationFailureDlg_Title)" NoMinimize="yes">
				<Control Id="Icon" Type="Icon" X="15" Y="15" Width="24" Height="24" FixedSize="yes" IconSize="32" Text="!(loc.ErrorDlgErrorIcon)" />
				<Control Id="MessageLabel" Type="Text" X="48" Y="15" Width="294" Height="47" TabSkip="no" Text="Unable to create the account. Either the account already exists, but with another password, or the service provider rejected the account creation request. Either update the information, or try to create the account from the web site of the service provider." />
				<Control Id="ErrorLabel" Type="Text" X="48" Y="60" Width="294" Height="16" TabSkip="no" Text="Error reported from the server:" />
				<Control Id="ErrorText" Type="Text" X="48" Y="76" Width="294" Height="16" TabSkip="no" Text="[XMPPACCOUNTERROR]" />
				<Control Id="OkButton" Type="PushButton" X="152" Y="100" Width="56" Height="17" Default="yes" Cancel="yes" Text="[ButtonText_OK]">
					<Publish Event="EndDialog" Value="Return">1</Publish>
				</Control>
			</Dialog>
		</UI>
	</Fragment>
</Wix>