<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<UI>
			<Dialog Id="AccountInvalidDlg" Width="360" Height="100" Title="!(loc.AccountInvalidDlg_Title)" NoMinimize="yes">
				<Control Id="Icon" Type="Icon" X="15" Y="15" Width="24" Height="24" FixedSize="yes" IconSize="32" Text="!(loc.ErrorDlgErrorIcon)" />
				<Control Id="MessageLabel" Type="Text" X="48" Y="15" Width="294" Height="47" TabSkip="no" Text="The account does not exist or the password is not correct. The service provider does not support automatic account creation, so you need to create the account with them on their web site. Please try again when you've checked that the account details are correct." />
				<Control Id="OkButton" Type="PushButton" X="152" Y="72" Width="56" Height="17" Default="yes" Cancel="yes" Text="[ButtonText_OK]">
					<Publish Event="EndDialog" Value="Return">1</Publish>
				</Control>
			</Dialog>
		</UI>
	</Fragment>
</Wix>