<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<UI>
			<Dialog Id="CreateAccountDlg" Width="370" Height="270" Title="!(loc.CreateAccountDlg_Title)" NoMinimize="yes">
				<Control Id="OrderLabel" Type="Text" X="15" Y="73" Width="17" Height="15" TabSkip="no" Text="2.5" />
				<Control Id="IntroductionLabel" Type="Text" X="38" Y="73" Width="310" Height="38" TabSkip="no" Text="Account does not exist, or the password was invalid. The server supports automatic account creation. If you want to create the account you've specified, press Next. Go back to update the account information." />
				<Control Id="AccountNameLabel" Type="Text" X="38" Y="120" Width="107" Height="10" TabSkip="no" Text="Account Name:" />
				<Control Id="AccountName" Type="Edit" Disabled="yes" Property="XMPPACCOUNTNAME" Default="yes" Text="[XMPPACCOUNTNAME]" Width="169" Height="15" X="38" Y="131" />
				<Control Id="Password1Label" Type="Text" X="38" Y="154" Width="107" Height="10" TabSkip="no" Text="Password:" />
				<Control Id="Password1" Type="Edit" Password="yes" Disabled="yes" Property="XMPPPASSWORD1" Text="[XMPPPASSWORD1]" Width="169" Height="15" X="38" Y="165" />
				<Control Id="Password2Label" Type="Text" X="38" Y="188" Width="107" Height="10" TabSkip="no" Text="Retype Password:" />
				<Control Id="Password2" Type="Edit" Password="yes" Disabled="yes" Property="XMPPPASSWORD2" Text="[XMPPPASSWORD2]" Width="169" Height="15" X="38" Y="199" />
				
				<Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&amp;Back">
					<Publish Event="NewDialog" Value="ServiceProviderAccountDlg">1</Publish>
				</Control>
				<Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="&amp;Next">
					<Publish Event="DoAction" Value="CreateAccount">1</Publish>
					<Publish Event="NewDialog" Value="SetupTypeDlg">XmppAccountOk = "1"</Publish>
					<Publish Event="SpawnDialog" Value="AccountCreationFailureDlg">XmppAccountOk = "0"</Publish>
				</Control>
				<Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
					<Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
				</Control>
				
				<Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
				<Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
					<Text>Do you want to create the account?</Text>
				</Control>
				<Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
				<Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
					<Text>{\WixUI_Font_Title}Create service account</Text>
				</Control>
				<Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
			</Dialog>
		</UI>
		<CustomAction Id="CreateAccount" BinaryKey="Waher.IoTGateway.Installers.CA.dll" DllEntry="CreateAccount" Return="check" Execute="immediate" />
	</Fragment>
</Wix>