<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<UI>
			<Dialog Id="ServiceProviderPortDlg" Width="370" Height="270" Title="!(loc.ServiceProviderPortDlg_Title)" NoMinimize="yes">
				<Control Id="OrderLabel" Type="Text" X="15" Y="73" Width="17" Height="15" TabSkip="no" Text="1.5." />
				<Control Id="IntroductionLabel" Type="Text" X="38" Y="73" Width="310" Height="44" TabSkip="no" Text="The service you've selected does not use the standard XMPP port number. To connect to the broker, you need to specify the port number to use." />
				<Control Id="PortLabel" Type="Text" X="38" Y="128" Width="107" Height="10" TabSkip="no" Text="Port number:" />
				<Control Type="Edit" Property="XMPPPORT" Default="yes" Text="[XMPPPORT]" Id="PortTextBox" Width="100" Height="16" X="38" Y="142"/>

				<Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&amp;Back">
					<Publish Event="NewDialog" Value="ServiceProviderDlg">1</Publish>
				</Control>
				<Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="&amp;Next">
					<Publish Event="DoAction" Value="ValidatePort">1</Publish>
					<Publish Event="NewDialog" Value="ServiceProviderAccountDlg">XmppPortOk = "1"</Publish>
					<Publish Event="SpawnDialog" Value="InvalidPortDlg">XmppPortOk = "0"</Publish>
				</Control>
				<Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
					<Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
				</Control>
				
				<Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
				<Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
					<Text>Please enter XMPP service port number</Text>
				</Control>
				<Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
				<Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
					<Text>{\WixUI_Font_Title}Service provider port</Text>
				</Control>
				<Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
			</Dialog>
		</UI>
		<CustomAction Id="ValidatePort" BinaryKey="Waher.IoTGateway.Installers.CA.dll" DllEntry="ValidatePort" Return='check' Execute='immediate'/>
	</Fragment>
</Wix>