<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<UI>
			<Dialog Id="ServiceProviderAccountDlg" Width="370" Height="270" Title="!(loc.ServiceProviderAccountDlg_Title)" NoMinimize="yes">
				<Control Id="OrderLabel" Type="Text" X="15" Y="73" Width="17" Height="15" TabSkip="no" Text="2." />
				<Control Id="IntroductionLabel" Type="Text" X="38" Y="73" Width="310" Height="38" TabSkip="no" Text="You need to create an account with the selected XMPP service provider. You can do this on their web page, or automatically through this installer, if the service provider supports this. Enter the name of the account and its password below to continue." />
				<Control Id="AccountNameLabel" Type="Text" X="38" Y="120" Width="107" Height="10" TabSkip="no" Text="Account Name:" />
				<Control Type="Edit" Property="XMPPACCOUNTNAME" Default="yes" Text="[XMPPACCOUNTNAME]" Id="AccountName" Width="169" Height="15" X="38" Y="131" />
				<Control Id="Password1Label" Type="Text" X="38" Y="154" Width="107" Height="10" TabSkip="no" Text="Password:" />
				<Control Type="Edit" Password="yes" Property="XMPPPASSWORD1" Text="[XMPPPASSWORD1]" Id="Password1" Width="169" Height="15" X="38" Y="165" />
				<Control Id="Password2Label" Type="Text" X="38" Y="188" Width="107" Height="10" TabSkip="no" Text="Retype Password:" />
				<Control Type="Edit" Password="yes" Property="XMPPPASSWORD2" Text="[XMPPPASSWORD2]" Id="Password2" Width="169" Height="15" X="38" Y="199" />
				
				<Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&amp;Back">
					<Publish Event="NewDialog" Value="ServiceProviderPortDlg">XmppPortRequired = "1"</Publish>
					<Publish Event="NewDialog" Value="ServiceProviderDlg">XmppPortRequired = "0"</Publish>
				</Control>
				<Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="&amp;Next">
					<Publish Event="DoAction" Value="ValidateAccount">1</Publish>
					<Publish Event="NewDialog" Value="SetupTypeDlg">XmppAccountOk = "1"</Publish>
					<Publish Event="NewDialog" Value="CreateAccountDlg">XmppAccountOk = "-1"</Publish>
					<Publish Event="SpawnDialog" Value="AccountInvalidDlg">XmppAccountOk = "0"</Publish>
					<Publish Event="SpawnDialog" Value="PasswordsInvalidDlg">XmppAccountOk = "-2"</Publish>
				</Control>
				<Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
					<Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
				</Control>
				
				<Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
				<Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
					<Text>Please select an XMPP service account</Text>
				</Control>
				<Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
				<Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
					<Text>{\WixUI_Font_Title}Service account</Text>
				</Control>
				<Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
			</Dialog>
		</UI>
		<CustomAction Id="ValidateAccount" BinaryKey="Waher.IoTGateway.Installers.CA.dll" DllEntry="ValidateAccount" Return="check" Execute="immediate" />
	</Fragment>
</Wix>